{% extends 'tables.html' %}
{% load static %}


{% block topTitle %}
    Categories manager
{% endblock topTitle %}

{% block tableTitle %}
    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Type</th>
    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" colspan="2"></th>

{% endblock tableTitle %}

{% block tableData %}
{% if categories %}
  {% for category in categories %}
      <tr>
         <td>
            <div class="d-flex px-3 py-1">
              <div class="d-flex flex-column justify-content-center ">
                <h6 class="mb-0 text-sm">{{ category.category_name }}</h6>
              </div>
            </div>
         </td>
         <td>
            <div class="d-flex px-3 py-1">
              <div class="d-flex flex-column justify-content-center">
                <h6 class="mb-0 text-sm">{{ category.category_type }}</h6>
              </div>
            </div>
         </td>
         <td>
            <div class="d-flex px-3 py-1">
              <div class="d-flex flex-column justify-content-center">
                <h6 class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7"><a href="{%  url 'update_category' pk=category.id %}">Edit</a></h6>
              </div>
            </div>
         </td>
         <td>
            <div class="d-flex px-3 py-1">
              <div class="d-flex flex-column justify-content-center">
                <h6 class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7"><a href="{%  url 'delete_category' pk=category.id %}">Delete</a></h6>
              </div>
            </div>
         </td>
      </tr>
  {% endfor %}
{% else %}
    <p>No transaction to view</p>
    <div class="col-md-6">
         <button type="button" class="btn btn-secondary active" style="width: 100px">
            <a href="{% url 'create_category' %}" style="color:#fff">Add new</a>
         </button>
    </div>
{% endif %}
{% endblock tableData %}
