{% extends 'tables.html' %}
{% load static %}


{% block topTitle %}
    Categories manager
{% endblock topTitle %}

{% block button %}
    {% url 'create_category' %}
{% endblock button %}

{% block tableTitle %}
    <div class="dropdown" style="margin-left:1rem">
          <button class="btn btn-secondary " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
           Filters
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="border: 1px black solid">
            <form method="get" >
                <div style="display:inline-grid; grid-template-columns: auto auto auto auto; column-gap:10px; padding:0 1rem 0 1rem; width:100%">
                    <div><div>Name</div><div> {{ form.name }}</div></div>
                    <div><div>Type</div><div>{{ form.type }}</div></div>
                    <div style="display: flex;flex-direction: column;justify-content: flex-end;">
                        <button type="submit" class="btn btn-secondary active" style="width: 80px; margin-bottom: 0;">Submit</button>
                    </div>
                </div>
            </form>
          </div>
    </div>
    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Type</th>
    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" colspan="2"></th>
{% endblock tableTitle %}

{% block tableData %}
    {% if categories %}
      {% for category in categories %}
          <tr>
             <td>
                <div class="d-flex px-3 py-1">
                  <div class="d-flex flex-column justify-content-center ">
                    <h6 class="mb-0 text-sm">{{ category.name }}</h6>
                  </div>
                </div>
             </td>
             <td>
                <div class="d-flex px-3 py-1">
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">{{ category.type }}</h6>
                  </div>
                </div>
             </td>
             <td>
                <div class="d-flex px-3 py-1">
                  <div class="d-flex flex-column justify-content-center ms-auto text-end" >
                      <a class="btn btn-link text-dark px-3 mb-0" href="{%  url 'update_category' pk=category.id %}"><i class="material-symbols-rounded text-sm me-2">edit</i>Edit</a>
                  </div>
                </div>
             </td>
             <td>
                <div class="d-flex px-3 py-1">
                 <div class="d-flex flex-column justify-content-center ms-auto text-end">
                      <a class="btn btn-link text-danger text-gradient px-3 mb-0" href="{%  url 'delete_category' pk=category.id %}"><i class="material-symbols-rounded text-sm me-2">delete</i>Delete</a>
                  </div>
                </div>
             </td>
          </tr>
      {% endfor %}
    {% else %}
        <p>No categories to view</p>
    {% endif %}
{% endblock tableData %}
