{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="main-content  mt-0">
    <section>
      <div class=" min-vh-100">
        <div class="container">

            <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column  me-auto ">
              <div class="card card-plain">
                <div class="card-header">
                  <h4 class="font-weight-bolder">Delete wallet</h4>
                </div>

                <div class="card-body">



<form method="post">{% csrf_token %}




<p>Are you sure you want to delete "{{ object }}"?</p>




    <button type="submit" value="Submit" class="btn btn-lg bg-gradient-dark btn-lg w-100 mt-4 mb-0">Confirm</button>
    <a href="{% url 'wallet-home' %}" class="btn btn-lg bg-gradient-dark btn-lg w-100 mt-4 mb-0">Back</a>
</form>


 </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock content %}
