{% extends 'base_action.html' %}
{% load static %}

{% block heading %}
    Add possession's
{% endblock heading %}

{% block form %}
    <form role="form" method="POST" style="width:30%" action = {{ create_possessions }}>
        {% csrf_token %}
        <div class="input-group input-group-outline mb-3" style="display:grid">
            {{ form.asset_name.label }}
            {{ form.asset_name }}
        </div>
          <div class="input-group input-group-outline mb-3" style="display:grid">
            {{ form.asset_value.label }}
            {{ form.asset_value }}
        </div>
        <div class="input-group input-group-outline mb-3" style="display:grid">
            {{ form.sum_amount.label }}
            {{ form.sum_amount }}
        </div>
        <div class="input-group input-group-outline mb-3" style="display:grid">
            {{ form.description.label }}
            {{ form.description }}
        </div>
        <div class="text-center">
          <button type="submit" value="Submit" class="btn btn-lg bg-gradient-dark btn-lg w-100 mt-4 mb-0">Save</button>
          <a href="{% url 'possessions_home'  %}" class="btn btn-lg bg-gradient-dark btn-lg w-100 mt-4 mb-0">Back</a>
        </div>
    </form>
{% endblock form %}
