{% extends 'tables.html' %}
{% load static %}


{% block topTitle %}
     Possession status manager
{% endblock topTitle %}

{% block button %}
    {% url 'create_possessions' %}
{% endblock button %}

{% block tableTitle %}
    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Value</th>
    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" colspan="2"></th>
{% endblock tableTitle %}

{% block tableData %}
{% if possessions %}
  {% for possession in possessions %}
      <tr>
         <td>
            <div class="d-flex px-3 py-1">
              <div class="d-flex flex-column justify-content-center ">
                <h6 class="mb-0 text-sm">{{ possession.asset_name }}</h6>
              </div>
            </div>
         </td>
         <td>
            <div class="d-flex px-3 py-1">
              <div class="d-flex flex-column justify-content-center">
                <h6 class="mb-0 text-sm">{{ possession.asset_value }}</h6>
              </div>
            </div>
         </td>
          <td>
            <div class="d-flex px-3 py-1">
              <div class="d-flex flex-column justify-content-center">
                <h6 class="mb-0 text-sm">{{ goal.target_amount }}</h6>
              </div>
            </div>
         </td>
         <td>
            <div class="d-flex px-3 py-1">
              <div class="d-flex flex-column justify-content-center">
                <h6 class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7"><a href="{%  url 'update_possessions' pk=possession.id %}">Edit</a></h6>
              </div>
            </div>
         </td>
         <td>
            <div class="d-flex px-3 py-1">
              <div class="d-flex flex-column justify-content-center">
                <h6 class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7"><a href="{%  url 'delete_possessions' pk=possession.id %}">Delete</a></h6>
              </div>
            </div>
         </td>
      </tr>
  {% endfor %}
{% else %}
    <p>No transaction to view</p>
    <div class="col-md-6">
         <button type="button" class="btn btn-secondary active" style="width: 100px">
            <a href="{% url 'create_possessions' %}" style="color:#fff">Add new</a>
         </button>
    </div>
{% endif %}
{% endblock tableData %}
