{% extends 'base.html' %}
{% load plotly_dash %}
{% plotly_header %}

{% block content %}
    <div class="container-fluid py-2">
      <div class="row">
          <div class="my-4">
            <div class="card-header p-0 position-relative mt-n4  z-index-2">
                  <div class="bg-gradient-dark shadow-dark border-radius-lg pt-4 pb-4">
                        <div >
                            <div style="align-content: center">
                                <h6 class="text-white text-capitalize ps-3" style="margin-bottom:0">
                                Dashboard
                                </h6>
                            </div>
                        </div>
                  </div>
          </div> </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header p-2 ps-3">
              <div class="d-flex justify-content-between">
                <div>
                  <p class="text-sm mb-0 text-capitalize">Today's Money</p>
                  <h4 class="mb-0 ">{{ today_profit }}</h4>
                </div>
                <div class="icon icon-md icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-lg">
                  <i class="material-symbols-rounded opacity-10">weekend</i>
                </div>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-2 ps-3">
              <p class="mb-0 text-sm"><span class="{% if today_profit_compare >= 0 %}
                                                       text-success
                                                    {% else %}
                                                        text-danger
                                                    {% endif %}
                                                    font-weight-bolder">{{ today_profit_compare }}% </span>than last month</p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header p-2 ps-3">
              <div class="d-flex justify-content-between">
                <div>
                  <p class="text-sm mb-0 text-capitalize">Monthly income</p>
                  <h4 class="mb-0 text-success">{{ monthly_income }}</h4>
                </div>
                <div class="icon icon-md icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-lg">
                  <i class="material-symbols-rounded opacity-10">person</i>
                </div>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-2 ps-3">
              <p class="mb-0 text-sm"><span class="{% if monthly_income_compare >= 0 %}
                                                       text-success
                                                    {% else %}
                                                        text-danger
                                                    {% endif %}
                                                    font-weight-bolder">{{ monthly_income_compare }}% </span>than last month</p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header p-2 ps-3">
              <div class="d-flex justify-content-between">
                <div>
                  <p class="text-sm mb-0 text-capitalize">Monthly expenses</p>
                  <h4 class="mb-0 text-danger">{{ monthly_expenses }}</h4>
                </div>
                <div class="icon icon-md icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-lg">
                  <i class="material-symbols-rounded opacity-10">leaderboard</i>
                </div>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-2 ps-3">
              <p class="mb-0 text-sm"><span class="{% if monthly_expenses_compare >= 0 %}
                                                       text-danger
                                                    {% else %}
                                                        text-success
                                                    {% endif %}
                                                    font-weight-bolder">{{ monthly_expenses_compare }}% </span>than last month</p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6">
          <div class="card">
            <div class="card-header p-2 ps-3">
              <div class="d-flex justify-content-between">
                <div>
                  <p class="text-sm mb-0 text-capitalize">Sales</p>
                  <h4 class="mb-0">0</h4>
                </div>
                <div class="icon icon-md icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-lg">
                  <i class="material-symbols-rounded opacity-10">weekend</i>
                </div>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-2 ps-3">
              <p class="mb-0 text-sm"><span class="text-success font-weight-bolder">+5% </span>than yesterday</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 mt-4 mb-4">
          <div class="card" >
              <div class="{% plotly_class name='Dailytransactions' %}" >
               {% plotly_app name="MonthlyCompare"  ratio=1.2 %}
              </div>

          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mb-4">
          <div class="card ">
              <div class="{% plotly_class name='Dailytransactions' %}" >
                {% plotly_app name="Dailytransactions" ratio=1.2 %}
              </div>
          </div>
        </div>
        <div class="col-lg-4 mt-4 mb-3">
          <div class="card">
            <div class="{% plotly_class name='MonthlyCategoryCompare' %}" >
                {% plotly_app name="MonthlyCategoryCompare" ratio=1.2 %}
              </div>
          </div>
        </div>
      </div>
    </div>
    {% plotly_footer %}

{% endblock %}
