{% extends 'base_action.html' %}
{% load static %}

{% block heading %}
    Update transaction
{% endblock heading %}

{% block form %}
    <form role="form" method="POST" style="width:30%" >
            {% csrf_token %}
            <div class="input-group input-group-outline mb-3" style="display:grid">
                {{ form.transaction_name.label }}
                {{ form.transaction_name }}
            </div>
              <div class="input-group input-group-outline mb-3" style="display:grid">
                {{ form.transaction_date.label }}
                {{ form.transaction_date }}
            </div>
            <div class="input-group input-group-outline mb-3" style="display:grid">
                {{ form.category.label }}
                {{ form.category }}
            </div>
            <div class="input-group input-group-outline mb-3" style="display:grid">
                {{ form.sum_amount.label }}
                {{ form.sum_amount }}
            </div>
            <div class="input-group input-group-outline mb-3" style="display:grid">
                {{ form.description.label }}
                {{ form.description }}
            </div>


            <div class="text-center">
              <button type="submit" value="Submit" class="btn btn-lg bg-gradient-dark btn-lg w-100 mt-4 mb-0">Save</button>
              <a href="{% url 'transaction-home'  %}" class="btn btn-lg bg-gradient-dark btn-lg w-100 mt-4 mb-0">Back</a>
            </div>
    </form>
{% endblock form %}
