{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="main-content  mt-0">
    <section>
      <div class=" min-vh-100">
          <div class="container-fluid">
	<div class="row">
		<div class="col-md-12"  style="margin-bottom:40px">
			<div class="jumbotron">
				<h2>
					Transaction's
				</h2>

			</div>
			<div class="row">

				<div class="col-md-6">
                    {% if transactions %}
                        <table style="width:80%">
                            <tr>
                                <td>
                                    <tr style="border-bottom: #000 1px solid;">
                                        <td>Name</td>
                                        <td>Value</td>
                                        <td>Id</td>
                                    </tr>
                                    {% for transaction in transactions %}
                                    <tr>
                                        <td>{{ transaction.transaction_name }}</td>
                                        <td>{{ transaction.sum_amount }}</td>
                                        <td>{{ transaction.id }}</td>
                                            {% if 'edit' in request.path %}
                                                <td><a href="{%  url 'update_transaction' pk=transaction.id %}">Edit</a></td>
                                            {% elif 'del' in request.path %}
                                                <td><a href="{%  url 'delete_transaction' pk=transaction.id %}">Delete</a></td>
                                            {% endif %}
                                    </tr>
                                    {% endfor %}
                        <tr>
                            <td>
                                <a href="{% url 'transaction-home'  %}" class="btn btn-lg bg-gradient-dark btn-lg w-100 mt-4 mb-0">Back</a>
                            </td>
                        </tr>
                                </td>
                            </tr>
                        </table>
                    {% else %}
                        <p>No wallet to view</p>
                    {% endif %}

				</div>
			</div>
		</div>
	</div>
</div>
      </div>
    </section>
</main>
{% endblock content %}
