{% extends 'tables.html' %}
{% load static %}


{% block topTitle %}
    Transaction's manager
{% endblock topTitle %}

{% block tableTitle %}
    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Value</th>
    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date</th>
    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" colspan="2"></th>

{% endblock tableTitle %}

{% block tableData %}
{% if transactions %}
  {% for transaction in transactions %}

      <tr>
         <td>
            <div class="d-flex px-3 py-1">
              <div class="d-flex flex-column justify-content-center">
                <h6 class="mb-0 text-sm">{{ transaction.transaction_name }}</h6>
              </div>
            </div>
         </td>
         <td>
            <div class="d-flex px-3 py-1">
              <div class="d-flex flex-column justify-content-center">
                <h6 class="mb-0 text-sm">{{ transaction.sum_amount }}</h6>
              </div>
            </div>
         </td>
         <td>
            <div class="d-flex px-3 py-1">
              <div class="d-flex flex-column justify-content-center">
                <h6 class="mb-0 text-sm">{{ transaction.transaction_date|date:"d-m-Y" }}</h6>
              </div>
            </div>
         </td>
         <td>
            <div class="d-flex px-3 py-1">
              <div class="d-flex flex-column justify-content-center">
                <h6 class="mb-0 text-sm"><a href="{%  url 'update_transaction' pk=transaction.id %}">Edit</a></h6>
              </div>
            </div>
         </td>
         <td>
            <div class="d-flex px-3 py-1">
              <div class="d-flex flex-column justify-content-center">
                <h6 class="mb-0 text-sm"><a href="{%  url 'delete_transaction' pk=transaction.id %}">Delete</a></h6>
              </div>
            </div>
         </td>
      </tr>
  {% endfor %}
{% else %}
    <p>No transaction to view</p>
    <div class="col-md-6">
         <button type="button" class="btn btn-secondary active" style="width: 100px">
            <a href="{% url 'create_transaction' %}" style="color:#fff">Add new</a>
         </button>
    </div>
{% endif %}
{% endblock tableData %}
