{% extends 'base_action.html' %}
{% load static %}

{% block heading %}
    Update notification
{% endblock heading %}

{% block form %}
    <form role="form" method="POST" style="width:30%" >
        {% csrf_token %}
        <div class="input-group input-group-outline mb-3" style="display:grid">
            {{ form.name.label }}
            {{ form.name }}
        </div>
          <div class="input-group input-group-outline mb-3" style="display:grid">
            {{ form.type.label }}
            {{ form.type }}
        </div>
        <div class="input-group input-group-outline mb-3" style="display:grid">
            {{ form.message.label }}
            {{ form.message }}
        </div>
        <div class="text-center">
          <button type="submit" value="Submit" class="btn btn-lg bg-gradient-dark btn-lg w-100 mt-4 mb-0">Save</button>
          <a href="{% url 'notification_home'  %}" class="btn btn-lg bg-gradient-dark btn-lg w-100 mt-4 mb-0">Back</a>
        </div>
      </form>
{% endblock form %}
